div.one-third {
	width: 47.5%;	 
}

div.one-third-second {
	margin: 0;
}
div.one-third-last {
	width: auto;
}

div.nav ul li{
width: 25%;
border-bottom: 1px solid grey;
}

@media screen and (max-width:620px)  {
    div.nav ul li{
        width: 33%;
    }
}
@media screen and (max-width:500px)  {
    div.mobile-collapse{
        width: auto;
        margin-right: 0; 
    }
    .hide-mobile{
        display: none;
    }
    div.nav ul li{
        width: 50%;
        font-size:small;
    }
}